{% extends "base.html" %}

{% block content %}
<div class="login-container">
    <div class="login-card">
        <div class="login-header">
            <i class="fa-solid fa-truck-medical login-logo"></i>
            <h1>GeoMed</h1>
            <p>IIT Bombay Hospital Ambulance Dispatch</p>
        </div>
        
        <form method="POST" action="{{ url_for('auth.login') }}" class="login-form">
            <div class="form-group">
                <label for="username">Username</label>
                <div class="input-icon">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" id="username" name="username" required autofocus placeholder="Enter username">
                </div>
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <div class="input-icon">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" id="password" name="password" required placeholder="Enter password">
                </div>
            </div>
            
            <div class="form-options">
                <label class="checkbox-label">
                    <input type="checkbox" name="remember">
                    <span>Remember me</span>
                </label>
            </div>
            
            <button type="submit" class="btn btn-primary btn-block">Sign In <i class="fa-solid fa-arrow-right"></i></button>
        </form>
    </div>
</div>
{% endblock %}
